<!-- src/main/resources/templates/reset-password.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>

    <h2>Reset Password</h2>

    <form th:action="@{/auth/reset-password}" method="post" th:object="${form}">
        <input th:field="*{token}" type="hidden" th:value="*{token}" />

        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" th:field="*{newPassword}" id="newPassword" name="newPassword" required>
        </div>

        <div>
            <label for="confirmNewPassword">Confirm New Password:</label>
            <input type="password" th:field="*{confirmNewPassword}" id="confirmNewPassword" name="confirmNewPassword" required>
        </div>

        <button type="submit">Reset Password</button>
    </form>

</body>

</html>
