<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.consult_app.demo.mappers.AdminMapper">

    <resultMap id="adminResultMap" type="com.consult_app.demo.models.Admin">
        <result column="admin_id" property="adminId"/>
        <result column="user_id" property="userId"/>
        <result column="group_id" property="groupId"/>

    </resultMap>

    <select id="getAdminByUserId" resultMap="adminResultMap">
        SELECT usr.admin_id
             , usr.user_id
             , usr.group_id
        FROM admin usr
        WHERE usr.user_id = #{userId}
    </select>
    
    <select id="getAdminByEmail" resultMap="adminResultMap">
        SELECT usr.admin_id
             , usr.user_id
             , usr.group_id
        FROM admin usr
        WHERE usr.user_id = #{userId}
    </select>
</mapper>