<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.consult_app.demo.mappers.DoctorMapper">

    <resultMap id="doctorResultMap" type="com.consult_app.demo.models.Doctor">
        <result column="doctor_id" property="doctorId"/>
        <result column="user_id" property="userId"/>
        <result column="experience" property="experience"/>
        <result column="services_offered" property="servicesOffered"/>
        <result column="bio_id" property="bioId"/>
        <result column="education" property="education"/>
        <result column="status" property="status"/>
        <result column="rating" property="rating"/>

    </resultMap>

    <resultMap id="doctorSearchResultMap" type="com.consult_app.demo.dtos.DoctorInformation">
        <result column="doctor_id" property="doctorId"/>
        <result column="user_id" property="userId"/>
        <result column="avatar" property="avatar"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="fullname" property="fullname"/>
        <result column="services_offered" property="servicesOffered"/>
        <result column="experience" property="experience"/>
        <result column="rating" property="rating"/>

    </resultMap>

    <select id="getDoctorByDoctorId" resultMap="doctorSearchResultMap">
        select dc.doctor_id, 
                usr.user_id,
                usr.avatar,
                usr.username,
                usr.email,
                CONCAT(usr.firstname, ' ', usr.lastname) as fullname, 
                dc.services_offered,
                dc.experience,
                dc.rating
            from "User" usr
            inner join "Doctor" dc ON usr.user_id = dc.user_id
            where dc.doctor_id = #{doctorId}
    </select>


    <select id="getDoctors" resultMap="doctorResultMap">
        SELECT usr.doctor_id
             , usr.user_id
             , usr.experience
             , usr.services_offered
             , usr.bio_id
             , usr.education
             , usr.status
             , usr.rating
        FROM "Doctor" usr
    </select>

    <select id="searchDoctors" resultMap="doctorSearchResultMap">
        select dc.doctor_id, 
                usr.user_id,
                usr.avatar,
                usr.username,
                usr.email,
                CONCAT(usr.firstname, ' ', usr.lastname) as fullname, 
                dc.services_offered,
                dc.experience,
                dc.rating
            from "User" usr
            inner join "Doctor" dc ON usr.user_id = dc.user_id
            where CONCAT(usr.firstname, ' ', usr.lastname) ILIKE '%' || #{keyword} || '%'
            OR dc.services_offered ILIKE '%' || #{keyword} || '%'
    </select>

    <insert id="createDoctor">
		INSERT INTO "Doctor"  VALUES (
		#{doctorId}
		, #{userId}
		, #{experience}
		, #{servicesOffered}
		, #{bioId}
		, #{education}
		, #{status}
        , #{rating}

		)



	</insert>
    <update id="updateDoctor">
        UPDATE "Doctor"
        SET experience = #{experience},
            avatar = #{avatar},
            services_offered = #{servicesOffered},
            bio_id = #{bioId},
            education = #{education},
            status = #{status},
            rating = #{rating}
        WHERE doctor_id=#{id}
    </update>
</mapper>