*{
    margin: 0;
    padding: 0;
}

.form {
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    margin: 150px 0;
    justify-content: space-between;
    /* display: flex; */
    align-items: center;
}

.form .name-page {
    margin: 20px 0 0 230px;
}

.form #page-link {
    color: #999999;
}

/* .form #page-link :hover {
    color: rgb(123, 0, 255);
} */

.form a:hover {
    color: rgb(123, 0, 255);
}

.form h2 {
    margin-bottom: 30px;
}

.form-profile {
    /* width: 100%; */
    /* display: flex; */
    color: black;
    margin: auto;
    height: 800px;
    width: 70%;
    border: 1px solid;
    border-radius: 20px;
}

.img-user {
    padding-top: 30px;
   /* margin: auto; */
   text-align: center;
}

.img-user img{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 10px;
}

.form-profile-container {
    width: 100%;
    float: left;
}

.form-profile-info {
    float: left;
    width: 50%;
    margin: 20px;
    padding: 5px;
    flex-basis: 50%;
}

.form-profile-chitiet {
    padding: 10px 0;
}

.form-profile-chitiet-gioitinh h6 {
    padding-top: 10px;
}

.form-profile-chitiet input {
    width: 400px;
}

.logo1 {
    width: 45%;
    /* display: flex; */
    text-align: center;
    float: right;
    padding-top: 100px;
    /* flex-basis: 50%; */
}

.logo1 img {
    /* width: 50%; */
}

.complete {
    padding-top: 10px;
    text-align: center;
    
}

.complete button {
    border-radius: 20px;
    color: white;
    background-color: blue;
    border: none;
}

.complete button a {
    color: white;
}
